* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color: rgb(92, 125, 215);
}

body {
  padding: 40px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main {
  display: block;
} */

.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 50px repeat(5, 60px) 60px;
  gap: 10px;
}

.num_pad {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
